#logo:hover {
  cursor: default;
}
#logo .wrapper {
  display: inline-block;
  top: -900px;
  position: relative;
  /* default */
  width: 90px;
  /* default */
  transition: ease 0.1s all;
}
#logo .wrapper span {
  position: absolute;
  top: 0;
  right: 0;
  transition: ease 0.1s all;
}
#logo .wrapper span.letter-2 {
  color: rgba(255, 252, 0, 0.84);
}
#logo .wrapper span.letter-1 {
  color: rgb(255, 255, 255);
  z-index: 1;
}
#logo .wrapper span.letter-1:hover {
  top: -3px;
  right: -3px;
}
#logo .wrapper span.letter-1:hover ~ .letter-2 {
  top: 3px;
  right: 3px;
}
#logo .wrapper span.space {
  padding: 0;
  min-width: 30px;
  display: inline-block;
}