{% extends 'base.html' %}
{% load static %}
{% block content %}
    <a href="{% url 'course_page' id=course.id %}"><i class="fa fa-arrow-left" style="font-size:24px"></i> {{ course.course_name }}</a>
    <h1>Grades</h1>

    <table class="w3-table-all w3-centered">
        <tbody>
        <tr class="quiztablerow w3-dark-gray">
            <th class="tablerowheader">Quizzes</th>
            <th class="tablerowheader">Grade</th>
        </tr>
         {% for Grade in quiz_grades %}

            <tr>
                <td class="cQuizList">
                    <a href="{% url 'detailed_assignment_list' cid=Grade.assignment.course_id.id id=Grade.id %} ">
                        {{ Grade.assignment.assignment_name }}
                    </a>
                </td>
                <td>{{ Grade.grade_value }}</td>
            </tr>

        {% endfor %}

        <tr class="quiztablerow w3-dark-gray">
            <th class="tablerowheader">Homeworks</th>
            <th class="tablerowheader">Grade</th>
        </tr>
        </tbody>
    </table>
{% endblock content %}
