{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    {% block extra_js %}
        <!--<script type = "text/javascript" src="{% static '/js/iprestrict.js' %}"></script>-->

        <noscript>
            <style>html{display:none;}</style>
            <meta http-equiv="refresh" content="0.0;url={% url 'index' %}">
        </noscript>
    {% endblock %}
<nav>
      <div class="topnav" id="myTopnav">
          <a href="{% url 'index' %}"><i class="fa fa-home" style="font-size:30px"></i> Home</a>
          <a href="{% url 'profile' %}"><i class="fa fa-user" style="font-size:18px"></i> Profile</a>
          <div class = "dropdown">
              <button class="dropbtn">Assignments
                  <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                  {% if user.role == 1 %}
                  <a href="#" onclick="showHideQuiz()" id = "quizBtn">Quizzes</a>
                  {% else %}
                  <a href="{%  url 'quiz_list' cid=course.id %}" id = "quizBtn">Quizzes</a>
                  {% endif %}
                  <a href="#" onclick= "showHideHmwk()" id = "hmwkBtn">Homeworks</a>
                  <a href="#" id = "survBtn">Surveys</a>
              </div>
          </div>
          <a href={% url 'assignment_list' cid=course.id %}>Grades</a>
          {% if user.is_authenticated %}
              <a href="{% url 'logout' %}"><i class="fa fa-sign-out" style="font-size:18px"></i> Logout</a>
          {% else %}
            <a href="{% url 'login' %}"><i class="fa fa-sign-in" style="font-size:18px"></i> Login</a>
          {% endif %}
          <a href="javascript:void(0);" class="icon" onclick="navBarFunction()">
              <i class="fa fa-bars"></i>
          </a>
      </div>


</nav>
{% endblock navbar %}

{% block content %}

    <div class="row">
  <div class="main w3-animate-opacity">
    <h2 id = "courseName" onclick="showHideCourse()">{{ course.course_name }}</h2>

      <div id="courseDesc" style="display: block;">
            <h3>Description</h3>
            {{ course.description }}
      </div>

      <form onload="quizEditPageLoad()" id = "quizForm" style="display: none;" method="POST" enctype="multipart/form-data">
      <h3>Quiz Form</h3>
                {% for quiz in quizes %}
                    <a href="{% url 'download' id=quiz.id%}">{{ quiz.assignment_name }}</a>
                {% endfor %}
            {% csrf_token %}
            {{ quizform.as_p }}

          <p id="quizEditExtension">
              <button id ="quizQuestionBtn" href="javascript:void();" onclick="newQuestion()">+ Add Question</button>
              <input id = "submitQuizUpload" type="submit" value="Submit" name="quizSubmit">
          </p>

      <script type = "text/javascript" src="{% static '/js/quizExtention.js' %}"></script>
      </form>

    <form id ="hmwkForm" style="display: none;" method="POST" enctype="multipart/form-data">
      <h3>Homework Form</h3>
          {% for assignment in course.homeworks.all %}
              <a href="{% url 'download' id=assignment.id %}">{{ assignment.assignment_name }}</a>
          {% endfor %}
          {% csrf_token %}
          {{ hwForm.as_p }}
        <input type="submit" value="Submit" name="hmwkSubmit">
    </form>

  <form id ="surveyForm" style="display: none;" method="POST" enctype="multipart/form-data">
      <h3>Survey Form</h3>
          {% for assignment in course.surveys.all %}
              <a href="{% url 'download' id=assignment.id %}">{{ assignment.assignment_name }}</a>
          {% endfor %}
          {% csrf_token %}
          {{ surveyForm.as_p }}
        <input type="submit" value="Submit" name="surveySubmit">
    </form>

  </div>
  <div class="side w3-center w3-animate-right">
    <h2>TASK VIEW</h2>
    <h5>Title description, Dec 7, 2017</h5>

  </div>
</div>
{% endblock content %}