{% extends 'base.html' %}

{% block navbar %}
<nav>
      <div class="topnav" id="myTopnav">
          <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a>
          <a href="{% url 'profile' %}">Profile</a>
          <div class = "dropdown">
              <button class="dropbtn">Assignments
                  <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                  <a href="#">Quizzes</a>
                  <form method="POST">
                     {{ quizform.as_p }}
                        <div>
                             <input id= "submit" type="submit" name="submit" value="Submit">
                        </div>
                    </form>
                  <a href="#">Homeworks</a>
                  <a href="#">Surveys</a>
              </div>
          </div>
          <a href="#">Grades</a>
          <a href="javascript:void(0);" class="icon" onclick="navBarFunction()">
              <i class="fa fa-bars"></i>
          </a>
      </div>


</nav>
{% endblock navbar %}

{% block content %}

    <div class="row">
  <div class="main w3-animate-opacity">
    <h2>{{ course.course_name }}</h2>
    <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    <h3>More Text</h3>
    <p>Lorem ipsum dolor sit ame.</p>
    <div class="fakeimg" style="height:60px;">Image</div><br>
    <div class="fakeimg" style="height:60px;">Image</div><br>
    <div class="fakeimg" style="height:60px;">Image</div>
  </div>
  <div class="side w3-center w3-animate-right">
    <h2>TITLE HEADING</h2>
    <h5>Title description, Dec 7, 2017</h5>
    <div class="fakeimg" style="height:200px;">Image</div>
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    <div class="fakeimg" style="height:200px;">Image</div>
  </div>
</div>
{% endblock content %}