{% extends 'base.html' %}

{% block navbar %}
<nav>
      <div class="topnav" id="myTopnav">
          <a href="{% url 'index' %}"><i class="fa fa-home"></i> Home</a>
          <a href="{% url 'profile' %}">Profile</a>
          <div class = "dropdown">
              <button class="dropbtn">Assignments
                  <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                  <a href="#">Quizzes</a>
                  <a href="#">Homeworks</a>
                  <a href="#">Surveys</a>
              </div>
          </div>
          <a href="#">Grades</a>
          {% if user.is_authenticated %}
              <a href="{% url 'logout' %}">Logout</a>
          {% else %}
            <a href="{% url 'login' %}">Login</a>
          {% endif %}
          <a href="javascript:void(0);" class="icon" onclick="navBarFunction()">
              <i class="fa fa-bars"></i>
          </a>
      </div>


</nav>
{% endblock navbar %}

{% block content %}

    <div class="row">
  <div class="main w3-animate-opacity">
    <h2>{{ course.course_name }}</h2>
    <h3>Description</h3>
      {{ course.description }}
      <br>
      <h3>Quiz Form</h3>
      {{ quizform.as_p }}
      <br>
      <h3>Homework Form</h3>
      <ul>
          {% for assignment in course.homeworks.all %}
              <li><a href="{{assignment.file.url}}">{{ assignment.assignment_name }}</a> </li>
          {% endfor %}

      </ul>
      <form >
          {{ hwForm.as_p }}
      </form>

  </div>
  <div class="side w3-center w3-animate-right">
    <h2>TASK VIEW</h2>
    <h5>Title description, Dec 7, 2017</h5>

  </div>
</div>
{% endblock content %}