{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="main">
    <h2>Open Learning Management System Lite</h2>
    <p>Welcome to Open LMS Lite, an open source learning management system.</p>
    <h3>About Our Team</h3>
         <p><strong><u>Kym Haywood II</u></strong><br>
                Kym is a senior computer science major at Georgia Southern University and will be graduating in May 2019.
                <br>He currently serves as the group lead of his senior capstone project.
             <br><br><strong><u>Byron Hickey</u></strong><br>

             <br><br><strong><u>Cameron Morgan</u></strong><br>

             <br><br> <strong><u>Austin Simmons</u></strong><br>
                Austin is a senior computer science major at Georgia Southern University and will be graduating in May 2019.
                <br>He also works at Koyo Bearings NA in Sylvania GA as a Co-Op.
             <br><br><strong><u>Chinonyerem Ugwumadu</u></strong><br>

             <br><br><strong><u>Shamarcus Walker</u></strong><br>

        </p>
  </div>
  <div class="side">
    <h2>TITLE HEADING</h2>
    <h5>Title description, Dec 7, 2017</h5>
    <p>Some text..</p>
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    <br>
  </div>
</div>
{% endblock content %}
