{% extends 'base.html' %}
{% load static %}
{% block content %}

    {% block extra_css %}
    <link rel="stylesheet" type = "text/css" href="{% static '/css/logo.css' %}">
    {% endblock %}

    {% block extra_js %}
    <script type = "text/javascript" src="{% static '/js/logo.js' %}"></script>
    {% endblock %}

    <div class="row">
        {% if user.is_authenticated %}
            <noscript>
                <div id="overlay">
                    <div id="overlaytext">Please Enable JavaScript to Continue.</div>
                </div>

                <style>
                    #overlay {
                        position: fixed;
                        display: block;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: rgba(0, 0, 0, 0.5);
                        z-index: 2;
                    }
                </style>
            </noscript>

            <div class="classList main w3-animate-opacity">
                {% for course in  user.courses.all %}
                    <a href="{% url 'course_page' id=course.id %}"><span>{{ course.course_name }}</span></a>
                {% endfor %}
            </div>
        {% else %}
            <div class="main w3-animate-opacity">
                <h2>Open Learning Management System Lite</h2>
                <p>Welcome to Open LMS Lite, an open source learning management system.</p><br><br>
                <h3>About Our Team</h3>
                <p><strong><u>Kym Haywood II</u></strong><br>
                    Kym is a senior computer science major at Georgia Southern University and will be graduating in May
                    2019.
                    <br>He currently serves as the group lead of his senior capstone project.
                    <br><br><strong><u>Byron Hickey</u></strong><br>
                    Byron is a senior computer science major at Georgia Southern University and will be graduating in
                    May 2019.
                    <br><br><strong><u>Cameron Morgan</u></strong><br>
                    Cameron is a senior computer science major at Georgia Southern University and will be graduating in
                    May 2019.
                    <br><br> <strong><u>Austin Simmons</u></strong><br>
                    Austin is a senior computer science major at Georgia Southern University and will be graduating in
                    May 2019.
                    <br>He also works at Koyo Bearings NA in Sylvania GA as a Co-Op.
                    <br><br><strong><u>Chinonyerem Ugwumadu</u></strong><br>
                    Senior Computer Science Major at Georgia Southern University.
                    <br><br><strong><u>Shamarcus Walker</u></strong><br>
                    Shamarcus is a senior computer science major at Georgia Southern University and is planning on
                    graduating this semester.
                </p>
            </div>
        {% endif %}
        <div class="side w3-center w3- w3-animate-right">
            {% if user.is_authenticated %}
                <h2>TASK VIEW</h2>
                {% for quiz in quizzes %}

                     <a>{{ quiz.assignment_name }}</a>
                {% endfor %}

            {% else %}
                <h2>TODAY</h2><br>

        <div class = "w3-center" id="calendar">
                <p id="calendar-day"></p>
                <p id="calendar-date"></p>
                <p id="calendar-month-year"></p>
        </div><br><br>
          <div style="width: 100%;">
              <iframe style="display: block;" src="https://cdnres.willyweather.com/widget/loadView.html?id=108071" width="100%" height="228" frameborder="0" scrolling="no"></iframe>
              <a style="height: 20px;z-index: 1;margin: -20px 0 0 0;position: relative;display: block;text-indent: -9999em" href="https://www.willyweather.com/ga/bulloch-county/statesboro.html" rel="nofollow">local weather</a>
          <script type = "text/javascript" src="{% static '/js/calendar.js' %}"></script>
          </div>

      {% endif %}
  </div>
</div>
{% endblock content %}
