{% extends 'base.html' %}

{% block content %}

    <noscript>
        <style>html {
            display: none;
        }</style>
        <meta http-equiv="refresh" content="0.0;url={% url 'index' %}">
    </noscript>
    <h1>{{ survey.course_id.course_name }}</h1>
    <hr>
    <h1>{{ survey.assignment_name }}</h1>

    <table id="preSurveyTable">
        <tbody>
        <tr>
            <td id="availability" style="text-align:left;" colspan="2">
                <strong>Availability</strong>
                <br>
                <label>{{ survey.open_date }} - {{ survey.due_date }}</label>
            </td>
        </tr>

        <tr>
            <td id="instructions" style="text-align:left;" colspan="2">
                <strong>Instructions</strong>
                <br>
                <label>
                    The following survey is for the {{ survey.course_id.course_name }} course. It shall
                    be completed between<br> {{ survey.open_date }} - {{ survey.due_date }}.
                    Once the survey is open, you will only be allowed to submit it.<br><br>YOU WILL NOT BE ABLE TO SAVE
                    AND CONTINUE THE SURVEY
                    AT A LATER TIME!</label>
            <td></td>
            </td>

        </tr>

        <tr>
            <td style="text-align: left;" colspan="2">
                                <form method="post">

                <a href="{% url 'survey_page' cid=survey.course_id.id id=survey.id %}"> <input id="bgnSurveyBtn" type="submit" value="Begin Survey"></a>
                                </form>
            <td></td>
            </td>
        </tr>
        </tbody>
    </table>

{% endblock content %}
