{% extends 'base.html' %}

{% block content %}

    <noscript>
            <style>html{display:none;}</style>
            <meta http-equiv="refresh" content="0.0;url={% url 'index'  %}">
        </noscript>
    <h1>{{ quiz.course_id.course_name }}</h1>
    <h2>{{ quiz.assignment_name }}</h2>
    <h3>{{ quiz.open_date }} - {{ quiz.due_date }}</h3>

    <p>The following quiz is for the {{ quiz.course_id.course_name }} course. It shall
    be taken between<br> {{ quiz.open_date }} - {{ quiz.due_date }}. Once the quiz is open, <br>
    you will only be allowed to submit it.<br><br>YOU WILL NOT BE ABLE TO SAVE AND CONTINUE THE QUIZ AT A LATER TIME!</p>

    <a href={% url 'quiz_page' cid=quiz.course_id.id id=quiz.id %}> <input id="bgnQuizBtn" type="submit" value="Begin Quiz"></a>

{% endblock content %}