{% extends 'base.html' %}
{% block content %}
    <noscript>
            <style>html{display:none;}</style>
            <meta http-equiv="refresh" content="0.0;url={% url 'index' %}">
        </noscript>

    <form id = "proInfo">
        <h3 id = "proFName">First Name: {{ user.first_name }}</h3>
        <h3 id = "proLName">Last Name: {{ user.last_name }}</h3>
        <h3 id = "proEmail">Email: {{ user.email }}</h3>
    </form>

    <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}
    {{ form.as_p }}
        <div>
            <input id= "submit" type="submit" name="submit" value="Submit">
        </div>
    </form>
{% endblock content %}
