{% extends 'base.html' %}

{% block content %}
    <noscript>
            <style>html{display:none;}</style>
            <meta http-equiv="refresh" content="0.0;url={% url 'index'  %}">
        </noscript>
    <h1>Quiz List</h1><br>
    <table class="w3-table-all w3-centered">
    <tbody>
    <tr class="quiztablerow w3-dark-gray">
        <th class="tablerowheader">Current Quizzes</th>
        <th class="tablerowheader">Start Date</th>
        <th class="tablerowheader">Due Date</th>
    </tr>
    {% for Quiz in quizzes %}
        {% if Quiz in course.quizes.all %}
            <tr>
                <td class="cQuizList"><a id = '{{ Quiz.id }}' href="{%  url 'quiz_start' cid=Quiz.course_id.id id=Quiz.id %} ">{{ Quiz.assignment_name }}</a></td>
                <td class="cStartDate">{{ Quiz.open_date }}</td>
                <td class="cDueDate">{{ Quiz.due_date }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    <tr class="quiztablerow w3-dark-gray">
        <th class="tablerowheader">Future Quizzes</th>
        <th class="tablerowheader">Start Date</th>
        <th class="tablerowheader">Due Date</th>
    </tr>

    <tr class="quiztablerow w3-dark-gray">
        <th class="tablerowheader">Past Quizzes</th>
        <th class="tablerowheader">Start Date</th>
        <th class="tablerowheader">Due Date</th>
    </tr>
    </tbody>
    </table>
{% endblock content %}