{% extends 'base.html' %}

{% block content %}
    <h1>Quiz List</h1><br>
    <table class="w3-table-all w3-centered">
    <tbody>
    <tr class="quiztablerow w3-dark-gray">
        <th class="tablerowheader">Current Quizzes</th>
        <th class="tablerowheader">Start Date</th>
        <th class="tablerowheader">Due Date</th>
    </tr>
    {% for Quiz in quizzes %}
        <tr>
            <td class="cQuizList"><a href="{%  url 'quiz_start' cid=Quiz.course_id.id id=Quiz.id %} ">{{ Quiz.assignment_name }}</a></td>
            <td class="cStartDate"></td>
            <td class="cDueDate"></td>
        </tr>
    {% endfor %}
    <tr class="quiztablerow w3-dark-gray">
        <th class="tablerowheader">Future Quizzes</th>
        <th class="tablerowheader">Start Date</th>
        <th class="tablerowheader">Due Date</th>
    </tr>

    <tr class="quiztablerow w3-dark-gray">
        <th class="tablerowheader">Past Quizzes</th>
        <th class="tablerowheader">Start Date</th>
        <th class="tablerowheader">Due Date</th>
    </tr>
    </tbody>
    </table>
{% endblock content %}